<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @tpouser.info['first_name'] %>
</p>

<p>
  <b>Last name:</b>
  <%= @tpouser.info['last_name'] %>
</p>

<p>
  <b>Phone:</b>
  <%= @tpouser.info['phone'] %>
</p>

<p>
  <b>E mail:</b>
  <%= @tpouser.info['e_mail'] %>
</p>

<p>
  <b>Contacts:</b>
  <%= @tpouser.count['contacts'] %>
</p>

<p>
  <b>Prospects:</b>
  <%= @tpouser.count['prospects'] %>
</p>

<p>
  <b>Closings:</b>
  <%= @tpouser.count['closings'] %>
</p>

<p>
  <b>Listings:</b>
  <%= @tpouser.count['listings'] %>
</p>

<p>
  <b>Name:</b>
  <%= @tpouser.user %>
</p>


<%= link_to 'Edit', edit_tpouser_path(@tpouser) %> |
<%= link_to 'Back', tpousers_path %>
